<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a href="" class="navbar-brand">FUNDACIÓN MAFOLI</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#tNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="tNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="">Hemos Estado Aqui</a></li>
                <li class="nav-item"><a class="nav-link" href="">Nuestro Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="">Quienes Somos</a></li>
            </ul>
        </div>
    </div>
</nav>