<div class="bg-light mb-5 mt-5">
    <div class="container ">
        <h2 class="mb-5" align="center">Conoce nuestro equipo <span class="font-weight-bold">MAFOLI</span>...</h2>
        <div class="row">
            <div class="col-lg-4 mb-5" align="center" *ngFor="let team of _st.allteam">

                <img class="img-fluid equipo" src="{{team.img}}" alt="">
                <h5>{{ team.nombre }}</h5>
                <p class="font-weight-light mb-0">"{{ team.frase }}"</p>

            </div>
        </div>
    </div>
</div>